<section class="container text-monospace">
  <div class="container text-center">
    {{if .Site.Params.hero.enabled }}
    <img class="rounded-circle" src='{{ .Site.Params.hero.img | absURL }}' title="Icon by freepik rom www.flaticon.com" width="200px"/>
    {{end}}
		<h3 class="mt-3">{{ .Site.Title }}</h3>
		<span class='text-secondary'>{{ .Site.Params.about }}</span>
		<br><br>
    <div class="bg-white">
	<!--			<a href="{{ .Site.Params.github }}"><span class="badge badge-pill badge-dark">Github</span></a> -->
			<a href="{{ "CV_Khalil_Santana.pdf" | absURL }}"><span class="badge badge-pill badge-primary">Currículo</span></a>
			<a href="{{ .Site.Params.gitlab }}"><span class="badge badge-pill badge-danger">Gitlab</span></a>
			<a href="mailto:{{ .Site.Params.email }}"><span class="badge badge-pill badge-primary">Email</span></a>
			<a href="https://keys.openpgp.org/vks/v1/by-fingerprint/8C9273C4817AFA38074DBF7F92938423B960D703"><span class="badge badge-pill badge-info">PGP/GPG</span></a>
			<a href="/contato"><span class="badge badge-pill badge-success">Contato</span></a>
			<a href="{{ "index.xml" | absURL }}"><span class="badge badge-pill badge-warning">RSS Feed</span></a>

    </div>
	</div>
</section>
